# Logistic Regression: Banking Marketing Campaign

## 1. Data loading

In [51]:
# Handle imports upfront
import pandas as pd

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.linear_model import LogisticRegression

### 1.1. Load

In [52]:
data_url='https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv'
data_df=pd.read_csv(data_url, sep=';')

### 1.2. Inspect

In [53]:
# Your code here....
# Your code here....
print(data_df.head())

print(data_df.describe())

print(data_df.info())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]
               age      duration      campaign         pdays      previous  \
count  41188.00000  41188.000000  41188.000000  41188.000000  41188.000000
mean      40.02406    258.285010      2.567593    962.475454      0.172963
std       10.42125    259.279249      2.770014    186.910907      0.494901
min       17.00000      0.000000      1.000000      0.000000      0.000000
25%       32.00000    102.000000      1.000000    999.000000      0.000000
50%       38.00000    180.000000      2.000000    999.000000      0.000000
75%       47.00000    319.000000      3.000000    999.000000      0.000000
max       98.00000   4918.000000     56.000000    999.000000      7.000000

       emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
count  41188.000000    41188.000000   41188.000000  41188.000000  41188.000000
mean       0.081886       93.575664     -40.502600      3.621291   5167.035911
std        1.570960        0.578840       4.628198      1.734447     72.251528
min       -3.400000       92.201000     -50.800000      0.634000   4963.600000
25%       -1.800000       93.075000     -42.700000      1.344000   5099.100000
50%        1.100000       93.749000     -41.800000      4.857000   5191.000000
75%        1.400000       93.994000     -36.400000      4.961000   5228.100000
max        1.400000       94.767000     -26.900000      5.045000   5228.100000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None

### 1.3. Train-test split

In [54]:
# First separate the features from the labels
labels=data_df['y']
features=data_df.drop('y', axis=1)

# Do the test-train split
training_features, testing_features, training_labels, testing_labels=train_test_split(
    features,
    labels,
    test_size=0.25, 
    random_state=315
)

### 1.4. Encoding

In [55]:
# Names of columns we want to encode
encoded_columns=['job']

# Do the encoding
training_features=pd.get_dummies(training_features, columns=encoded_columns, dtype=int, drop_first=True)
testing_features=pd.get_dummies(testing_features, columns=encoded_columns, dtype=int, drop_first=True)

training_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30891 entries, 33905 to 29283
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                30891 non-null  int64
 1   marital            30891 non-null  object
 2   education          30891 non-null  object
 3   default            30891 non-null  object
 4   housing            30891 non-null  object
 5   loan               30891 non-null  object
 6   contact            30891 non-null  object
 7   month              30891 non-null  object
 8   day_of_week        30891 non-null  object
 9   duration           30891 non-null  int64
 10  campaign           30891 non-null  int64
 11  pdays              30891 non-null  int64
 12  previous           30891 non-null  int64
 13  poutcome           30891 non-null  object
 14  emp.var.rate       30891 non-null  float64
 15  cons.price.idx     30891 non-null  float64
 16  cons.conf.idx      30891 non-null  float64
 17  euribor3m          30891 non-null  float64
 18  nr.employed        30891 non-null  float64
 19  job_blue-collar    30891 non-null  int64
 20  job_entrepreneur   30891 non-null  int64
 21  job_housemaid      30891 non-null  int64
 22  job_management     30891 non-null  int64
 23  job_retired        30891 non-null  int64
 24  job_self-employed  30891 non-null  int64
 25  job_services       30891 non-null  int64
 26  job_student        30891 non-null  int64
 27  job_technician     30891 non-null  int64
 28  job_unemployed     30891 non-null  int64
 29  job_unknown        30891 non-null  int64
dtypes: float64(5), int64(16), object(9)
memory usage: 7.3+ MB

In [56]:
print(training_features.dtypes)

age                    int64
marital               object
education             object
default               object
housing               object
loan                  object
contact               object
month                 object
day_of_week           object
duration               int64
campaign               int64
pdays                  int64
previous               int64
poutcome              object
emp.var.rate         float64
cons.price.idx       float64
cons.conf.idx        float64
euribor3m            float64
nr.employed          float64
job_blue-collar        int64
job_entrepreneur       int64
job_housemaid          int64
job_management         int64
job_retired            int64
job_self-employed      int64
job_services           int64
job_student            int64
job_technician         int64
job_unemployed         int64
job_unknown            int64
dtype: object

In [57]:
from sklearn.preprocessing import LabelEncoder

def feature_composition(df: pd.DataFrame, features: list) -> None:
    '''Takes a dataframe and a list of features. Prints out
    the unique levels of that feature with their count and 
    percent.'''

    for i, column_name in enumerate(features):
        value_counts=df[column_name].value_counts().T.to_dict()

        print(f'\nFeature: {column_name}')

        for key, value in value_counts.items():
            percent_value=(value/len(data_df)) * 100
            print(f' {key}: {value} ({percent_value:.1f}%)')

label_encoder = LabelEncoder()

training_features['marital'] = label_encoder.fit_transform(training_features['marital'])

training_features['education'] = label_encoder.fit_transform(training_features['education'])

training_features['contact'] = label_encoder.fit_transform(training_features['contact'])

feature_composition(training_features, ['default','housing','loan'])

Feature: default
 no: 24400 (59.2%)
 unknown: 6488 (15.8%)
 yes: 3 (0.0%)

Feature: housing
 yes: 16072 (39.0%)
 no: 14075 (34.2%)
 unknown: 744 (1.8%)

Feature: loan
 no: 25468 (61.8%)
 yes: 4679 (11.4%)
 unknown: 744 (1.8%)

In [59]:
# Names of columns we want to encode
encoded_columns=['marital','default','housing','loan','contact']

# Do the encoding
training_features=pd.get_dummies(training_features, columns=encoded_columns, dtype=int, drop_first=True)
testing_features=pd.get_dummies(testing_features, columns=encoded_columns, dtype=int, drop_first=True)

training_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30891 entries, 33905 to 29283
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                30891 non-null  int64
 1   education          30891 non-null  int64
 2   month              30891 non-null  object
 3   day_of_week        30891 non-null  object
 4   duration           30891 non-null  int64
 5   campaign           30891 non-null  int64
 6   pdays              30891 non-null  int64
 7   previous           30891 non-null  int64
 8   poutcome           30891 non-null  object
 9   emp.var.rate       30891 non-null  float64
 10  cons.price.idx     30891 non-null  float64
 11  cons.conf.idx      30891 non-null  float64
 12  euribor3m          30891 non-null  float64
 13  nr.employed        30891 non-null  float64
 14  job_blue-collar    30891 non-null  int64
 15  job_entrepreneur   30891 non-null  int64
 16  job_housemaid      30891 non-null  int64
 17  job_management     30891 non-null  int64
 18  job_retired        30891 non-null  int64
 19  job_self-employed  30891 non-null  int64
 20  job_services       30891 non-null  int64
 21  job_student        30891 non-null  int64
 22  job_technician     30891 non-null  int64
 23  job_unemployed     30891 non-null  int64
 24  job_unknown        30891 non-null  int64
 25  marital_1          30891 non-null  int64
 26  marital_2          30891 non-null  int64
 27  marital_3          30891 non-null  int64
 28  default_unknown    30891 non-null  int64
 29  default_yes        30891 non-null  int64
 30  housing_unknown    30891 non-null  int64
 31  housing_yes        30891 non-null  int64
 32  loan_unknown       30891 non-null  int64
 33  loan_yes           30891 non-null  int64
 34  contact_1          30891 non-null  int64
dtypes: float64(5), int64(27), object(3)
memory usage: 8.5+ MB

In [61]:
# Names of columns to drop
column_drops=['poutcome', 'pdays', 'previous']

# Do the drops
training_features.drop(column_drops, axis=1, inplace=True)

# Do the same thing to the testing data
testing_features.drop(column_drops, axis=1, inplace=True)

# Take a look
training_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30891 entries, 33905 to 29283
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                30891 non-null  int64
 1   education          30891 non-null  int64
 2   month              30891 non-null  object
 3   day_of_week        30891 non-null  object
 4   duration           30891 non-null  int64
 5   campaign           30891 non-null  int64
 6   emp.var.rate       30891 non-null  float64
 7   cons.price.idx     30891 non-null  float64
 8   cons.conf.idx      30891 non-null  float64
 9   euribor3m          30891 non-null  float64
 10  nr.employed        30891 non-null  float64
 11  job_blue-collar    30891 non-null  int64
 12  job_entrepreneur   30891 non-null  int64
 13  job_housemaid      30891 non-null  int64
 14  job_management     30891 non-null  int64
 15  job_retired        30891 non-null  int64
 16  job_self-employed  30891 non-null  int64
 17  job_services       30891 non-null  int64
 18  job_student        30891 non-null  int64
 19  job_technician     30891 non-null  int64
 20  job_unemployed     30891 non-null  int64
 21  job_unknown        30891 non-null  int64
 22  marital_1          30891 non-null  int64
 23  marital_2          30891 non-null  int64
 24  marital_3          30891 non-null  int64
 25  default_unknown    30891 non-null  int64
 26  default_yes        30891 non-null  int64
 27  housing_unknown    30891 non-null  int64
 28  housing_yes        30891 non-null  int64
 29  loan_unknown       30891 non-null  int64
 30  loan_yes           30891 non-null  int64
 31  contact_1          30891 non-null  int64
dtypes: float64(5), int64(25), object(2)
memory usage: 7.8+ MB

## 2. EDA

### 2.1. Baseline model performance

In [63]:
# Define a reusable helper function for cross-validation here. We are going to
# be doing a lot of cross-validation, this allows us to reuse this code
# without having to copy-paste it over and over.

def cross_val(model, features: pd.DataFrame, labels: pd.Series) -> list[float]:
    '''Reusable helper function to run cross-validation on a model. Takes model,
    Pandas data frame of features and Pandas data series of labels. Returns 
    list of cross-validation fold accuracy scores as percents.'''

    # Define the cross-validation strategy
    cross_validation=StratifiedKFold(n_splits=7, shuffle=True, random_state=315)

    # Run the cross-validation, collecting the scores
    scores=cross_val_score(
        model,
        features,
        labels,
        cv=cross_validation,
        n_jobs=-1,
        scoring='accuracy'
    )

    # Print mean and standard deviation of the scores
    print(f'Cross-validation accuracy: {(scores.mean() * 100):.2f} +/- {(scores.std() * 100):.2f}%')

    # Return the scores
    return scores

In [64]:
feature_composition(training_features, ['day_of_week'])

feature_composition(training_features, ['month'])

Feature: day_of_week
 thu: 6479 (15.7%)
 mon: 6350 (15.4%)
 wed: 6089 (14.8%)
 tue: 6079 (14.8%)
 fri: 5894 (14.3%)

Feature: month
 may: 10246 (24.9%)
 jul: 5334 (13.0%)
 aug: 4668 (11.3%)
 jun: 4047 (9.8%)
 nov: 3113 (7.6%)
 apr: 1965 (4.8%)
 oct: 541 (1.3%)
 sep: 434 (1.1%)
 mar: 402 (1.0%)
 dec: 141 (0.3%)

In [65]:
import numpy as np

# Don't worry about downcasting FutureWarning
pd.set_option('future.no_silent_downcasting', True)

# Define a helper function here so we can encode the time
# features the same way on the training and testing data
# without copy-pasting the same code
def encode_time_features(data_df: pd.DataFrame) -> pd.DataFrame:
    '''Takes a Pandas dataframe and uses cyclical sin/cos to encode
    month and day features. Returns updated dataframe.'''

    # First convert the features to numeric
    dict={'mon' : 1, 'tue' : 2, 'wed': 3, 'thu' : 4, 'fri': 5}
    data_df=data_df.replace(dict)

    dict={'jan' : 1, 'feb' : 2, 'mar': 3, 'apr' : 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}
    data_df=data_df.replace(dict)

    # And fix the dtypes
    data_df['day_of_week']=data_df['day_of_week'].astype(int)
    data_df['month']=data_df['month'].astype(int)

    # Now encode the day and month with sin/cos components
    data_df['day_sin'] = np.sin(2 * np.pi * data_df['day_of_week']/7.0)
    data_df['day_cos'] = np.cos(2 * np.pi * data_df['day_of_week']/7.0)

    data_df['month_sin'] = np.sin(2 * np.pi * data_df['month']/12.0)
    data_df['month_cos'] = np.cos(2 * np.pi * data_df['month']/12.0)

    # Drop the original string features
    data_df.drop(['month', 'day_of_week'], axis=1, inplace=True)

    return data_df

training_features=encode_time_features(training_features)
testing_features=encode_time_features(testing_features)

In [66]:
# Instantiate a random forest classifier model
model=LogisticRegression(random_state=315)

# Run the cross-validation
scores=cross_val(model, training_features, training_labels)

/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Cross-validation accuracy: 90.60 +/- 0.39%

### 2.2. Missing and/or extreme values

In [67]:
# Your code here...
data_df.drop_duplicates(inplace=True)
data_df.shape

(41176, 21)

### 2.3. Feature selection

In [68]:
# Your code here...
columns = ['job', 'marital','education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome', 'y']

for column in columns:
    print (f'Value count for column - {column}')
    print(data_df[column].value_counts())
    print('\n\n')

Value count for column - job
job
admin.           10419
blue-collar       9253
technician        6739
services          3967
management        2924
retired           1718
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: count, dtype: int64



Value count for column - marital
marital
married     24921
single      11564
divorced     4611
unknown        80
Name: count, dtype: int64



Value count for column - education
education
university.degree      12164
high.school             9512
basic.9y                6045
professional.course     5240
basic.4y                4176
basic.6y                2291
unknown                 1730
illiterate                18
Name: count, dtype: int64



Value count for column - default
default
no         32577
unknown     8596
yes            3
Name: count, dtype: int64



Value count for column - housing
housing
yes        21571
no         18615
unknown      990
Name: count, dtype: int64



Value count for column - loan
loan
no         33938
yes         6248
unknown      990
Name: count, dtype: int64



Value count for column - contact
contact
cellular     26135
telephone    15041
Name: count, dtype: int64



Value count for column - month
month
may    13767
jul     7169
aug     6176
jun     5318
nov     4100
apr     2631
oct      717
sep      570
mar      546
dec      182
Name: count, dtype: int64



Value count for column - day_of_week
day_of_week
thu    8618
mon    8512
wed    8134
tue    8086
fri    7826
Name: count, dtype: int64



Value count for column - poutcome
poutcome
nonexistent    35551
failure         4252
success         1373
Name: count, dtype: int64



Value count for column - y
y
no     36537
yes     4639
Name: count, dtype: int64

In [69]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the scaler
scaler = MinMaxScaler()

# Fit the scaler to the selected columns
scaler.fit(data_df[['campaign','previous','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed']])

# Transform the selected columns and assign the result back to those columns in the DataFrame
data_df[['campaign','previous','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed']] = scaler.transform(data_df[['campaign','previous','emp.var.rate','cons.price.idx','cons.conf.idx','euribor3m','nr.employed']])

In [70]:
data_df = data_df.replace('unknown', np.nan)
data_df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,0.000000,999,0.000000,nonexistent,0.937500,0.698753,0.60251,0.957379,0.859735,no
1,57,services,married,high.school,NaN,no,no,telephone,may,mon,...,0.000000,999,0.000000,nonexistent,0.937500,0.698753,0.60251,0.957379,0.859735,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,0.000000,999,0.000000,nonexistent,0.937500,0.698753,0.60251,0.957379,0.859735,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,0.000000,999,0.000000,nonexistent,0.937500,0.698753,0.60251,0.957379,0.859735,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,0.000000,999,0.000000,nonexistent,0.937500,0.698753,0.60251,0.957379,0.859735,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,0.000000,999,0.000000,nonexistent,0.479167,1.000000,0.00000,0.089322,0.000000,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,0.000000,999,0.000000,nonexistent,0.479167,1.000000,0.00000,0.089322,0.000000,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,0.018182,999,0.000000,nonexistent,0.479167,1.000000,0.00000,0.089322,0.000000,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,0.000000,999,0.000000,nonexistent,0.479167,1.000000,0.00000,0.089322,0.000000,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,0.036364,999,0.142857,failure,0.479167,1.000000,0.00000,0.089322,0.000000,no

In [71]:
for var in data_df.columns[data_df.dtypes == 'object']:
    data_df[var] = data_df[var].fillna(data_df[var].mode()[0])

In [72]:
for var in data_df.columns[data_df.dtypes == 'int64']:
    data_df[var] = data_df[var].fillna(data_df[var].mean())

In [73]:
data_df = pd.get_dummies(data_df, columns=['y','job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome'], drop_first=True)
data_df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41176.00000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000,41176.000000
mean,40.02380,258.315815,0.028507,962.464810,0.024716,0.725400,0.535744,0.430843,0.677237,0.769130
std,10.42068,259.305321,0.050369,186.937102,0.070709,0.327267,0.225580,0.193634,0.393207,0.273162
min,17.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.00000,102.000000,0.000000,999.000000,0.000000,0.333333,0.340608,0.338912,0.160961,0.512287
50%,38.00000,180.000000,0.018182,999.000000,0.000000,0.937500,0.603274,0.376569,0.957379,0.859735
75%,47.00000,319.000000,0.036364,999.000000,0.000000,1.000000,0.698753,0.602510,0.980957,1.000000
max,98.00000,4918.000000,1.000000,999.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [77]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline

# Define which columns are categorical and which are numeric
categorical_columns = ['marital', 'contact']  # Example: columns with categorical data
numeric_columns = ['age', 'balance', 'duration']  # Example: columns with numeric data

# Preprocessing pipeline for categorical columns: OneHotEncoding
categorical_transformer = OneHotEncoder(drop='first', dtype=int, handle_unknown='ignore')

# Preprocessing pipeline for numeric columns: StandardScaler
numeric_transformer = StandardScaler()

# Combine the transformers into a ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_columns),
        ('cat', categorical_transformer, categorical_columns)
    ],
    remainder='passthrough'  # Keep other columns as they are (if any)
)

# Create a pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

# Fit and transform the training features
training_features = pipeline.fit_transform(training_features)

# Only transform the testing features (no fitting)
testing_features = pipeline.transform(testing_features)

# Check the shape of the resulting numpy arrays (after transformation)
print(f'Training features are: {type(training_features)}')
print(f'Training features shape: {training_features.shape}')

ValueError: Specifying the columns using strings is only supported for dataframes.

### 2.4. Feature scaling

In [76]:
from sklearn.preprocessing import StandardScaler

# Scale the features
standard_scaler=StandardScaler().fit(training_features)
training_features=standard_scaler.transform(training_features)
testing_features=standard_scaler.transform(testing_features)

print(f'Training features are: {type(training_features)}')
print(f'Training features shape: {training_features.shape}')

/home/vscode/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

ValueError: could not convert string to float: 'high.school'

### 2.5. Label encoding

In [ ]:
# Last, encode the labels
label_encoder=LabelEncoder().fit(training_labels)
training_labels=label_encoder.transform(training_labels)
testing_labels=label_encoder.transform(testing_labels)

print(f'Training labels: {training_labels}')

## 3. Model training

In [ ]:
# Your code here...

## 4. Model optimization

### 4.1. Model tuning

In [ ]:
# Your code here...

### 4.2. Cross-validation of optimized model

In [ ]:
# Your code here...

### 4.3. Final model evaluation

In [ ]:
# Your code here...